

.signUp {
    width: 55vw;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sign .firstName, .lastName, .email, .password, .confirmPassword{
    width: 270px;
    height: 40px;
    margin: 0.5rem;
    outline: none;
    border: 1px solid rgb(86, 17, 17);
    font-family: Pacifico;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .sign button{
    padding: 0.5rem;
    width: 270px;
    height: 35px;
    margin: 0.5rem;
    outline: none;
    border: 1px solid rgb(86, 17, 17);
    font-family: Pacifico;

  }

  .sign input{
    border: none;
    position: relative;
    left: 10px;
    padding: 5px;
    font-family: Pacifico;
    font-size: 15px;
    opacity: 0.9;
    outline: none;
  }
  
 
  
  
  .sign button {
    color: white;
    background-color: rgb(86, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  .togglePassword{
    position: absolute;
    right: 10px;
  }

  