.cart-value{
  display: flex;
 
}

/* home */

.home{
    margin-top: 2rem;
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home p{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}


.bestsellers{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.bestsellerContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  @media (max-width: 767px){
    
    .home p{
      width: 90wv;
      font-size: 1.2rem;
    }

    .home{
      width: 90%;
    }
  }
  