@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body{
  font-size: 62.5%;
} */

/* #root{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: space-between;
    font-family: Pacifico;
  } */

  #root {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: space-between;
    font-family: Pacifico;
  }



.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* margin-top: 1rem; */
}

.navBar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 60vw;
}


a {
  text-decoration: none;
  color: rgb(33, 58, 33);
  font-weight: bold;
  font-size: 1.5rem;
}

a:hover {
  color: rgb(86, 17, 17);
  text-shadow: 1px 1px rgb(115, 143, 115);
}

.navBar  a.active{
    text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}

.header-bg{
  background-image: url("./images/other/bg11.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 160px;
  width: 90vw;
  margin: 5px auto;
}

h1>a{
    font-size: 2rem;
}

.wine-container img {
  width: 330px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(95, 101, 95);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 2rem;
}

/* hamburger */

.hamburger {
  display: none;
  cursor: pointer;
}

.navbar-mobile{
  display: none;
}



@media (max-width: 767px){

  .navBar {
    display: none;
  }


.hamburger {
  display: flex;
  cursor: pointer;
 width: 80vw;
 margin-left: 2rem;
}

.navbar-mobile{
  display: flex;
  list-style: none;
  flex-direction: column;
  width: 100vw;
  margin-left: 5rem;
}

a{
  font-size: 1.2rem;
}

.wine-container img{
  width: 200px;
}

.wine-container button{
  width: 35%;
}


}